registry=https://nexus.trendminer.net/repository/npm-all/
@types:registry=https://registry.npmjs.org/
@angular:registry=https://registry.npmjs.org/
@iamadamjowett:registry=https://registry.npmjs.org/
@ngtools:registry=https://registry.npmjs.org/
